# Data Science Tools and Ecosystem

In this notebook, Data Science and Ecosystem are summarized.

**Ojectives**
* List popular languages for Data Science.
* List common libraries for Data Science.
* List tools for Data Science.

Some of the popular languages that Data Scientists use are:
* C++
* R
* Java
* Apache MLlib

Some of the commonly used libraries used by Data Scientists include:
* ggplot2
* Lattice
* Pandas

Data Science Tools|
-------------------
TensorFlow|
Watson Studio|
Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Phyllis O'Neil